.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-swiper {
  margin-top: 10px;
  height: 250px;
  width: 330px;
}

.fa-star {
  width: 6px;
  font-size: 0.8em;
  display: inline-block;
  overflow: hidden
}

.checked {
  color: yellow;
}

.movie__imdb-button {
  width: 30px;
  height: 17px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #EBBA33;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: silver;
}

@media only screen and (max-width: 600px) {
  .main-swiper {
    margin-top: 10px;
    height: 200px;
    width: 250px;
  }
}

.active {
  color: #fff;
}